// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

// Body Locked
body {
  background-color: var(--bg-color);
  font-family: var(--primary-font);
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  color: var(--white-color);

  &.locked {
    overflow: hidden;
  }
}

body,
html {
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
  font-weight: 700;
  line-height: normal;
}

.section-title {
  margin-left: 94px;
  margin-bottom: 80px;
  font-size: 33px;
  text-transform: uppercase;

  @media (max-width: $breakpoint992) {
    margin-left: 40px;
    margin-bottom: 40px;
    font-size: 28px;
  }

  @media (max-width: $breakpoint768) {
    margin-left: 0;
    margin-bottom: 16px;
    font-size: 20px;
  }
}

.main__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex-grow: 1;
}


// Animations

// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}