.hero {
  overflow: hidden;
  padding: 40px 0 130px;



  @media (max-width: $breakpoint992) {
    padding: 40px 0 80px;
  }

  @media (max-width: $breakpoint768) {
    padding: 15px 0 0;
  }

  // .hero__inner

  &__inner {
    border-radius: 20px;
    background-image: url('../img/hero/hero-bg.svg');
    background-repeat: no-repeat;

    @media (max-width: $breakpoint768) {
      margin: 0 -40px;
      padding: 0 20px 30px;
      background-image: url('../img/hero/hero-bg-mobile.svg');
      background-size: contain;
      background-position: center;
    }
  }

  // .hero__header

  &__header {
    height: 454px;
    padding: 68px 92px;
    margin-bottom: 140px;
    background-image: url('../img/hero/hero-header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 22px;

    @media (max-width: $breakpoint992) {
      padding: 40px;
      margin-bottom: 80px;
    }

    @media (max-width: $breakpoint768) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 32px 32px;
      margin: 0 20px;
      margin-bottom: 30px;
      background-image: url('../img/hero/hero-header-bg-mobile.jpg');
    }
  }

  // .hero__title

  &__title {
    margin-bottom: 28px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.72);
    font-family: var(--secondary-font);
    font-size: 27px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    @media (max-width: $breakpoint992) {
      font-size: 20px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 16px;
      text-align: center;
    }
  }

  // .hero__btn

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 14px 14px 13px;
    border-radius: 29.754px;
    border: 3px solid #3162AE;
    background: var(--white-color);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10), 0px 9px 9px 0px rgba(0, 0, 0, 0.09), 0px 20px 12px 0px rgba(0, 0, 0, 0.05), 0px 35px 14px 0px rgba(0, 0, 0, 0.01), 0px 54px 15px 0px rgba(0, 0, 0, 0.00);
    backdrop-filter: blur(15px);
    transition: color 0.2s linear, border 0.2s linear, background-color 0.1s linear;
    color: #1B316F;
    font-size: 15px;
    font-weight: 800;
    line-height: 90%;
    text-transform: uppercase;

    @media (hover: hover) {
      &:hover {
        border-color: var(--white-color);
        background-color: var(--primary-color);
        color: var(--white-color);
      }
    }

    @media (max-width: $breakpoint768) {
      margin-top: auto;
      width: 100%;
      padding: 10px 0;
      font-size: 12px;
    }
  }

  // .hero__main

  &__main {
    padding: 0 90px;

    @media (max-width: $breakpoint992) {
      padding: 0 40px;
    }

    @media (max-width: $breakpoint768) {
      padding: 0 20px;
    }
  }

  // .hero__subtitle

  &__subtitle {
    margin-left: 0;
    margin-bottom: 46px;

    @media (max-width: $breakpoint992) {
      margin-left: 0;
      margin-bottom: 20px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 14px;
      text-align: center;
    }
  }

  // .hero__descr

  &__descr {
    margin-bottom: 56px;
    font-size: 22px;
    font-weight: 800;
    line-height: 144%;
    text-transform: uppercase;

    @media (max-width: $breakpoint992) {
      font-size: 16px;
      margin-bottom: 30px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 28px;
      font-size: 12px;
      text-align: center;
      line-height: 125%;
    }
  }

  // .hero__list

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 44px;
    margin-bottom: 110px;

    @media (max-width: $breakpoint992) {
      row-gap: 32px;
      margin-bottom: 80px;
    }

    @media (max-width: $breakpoint768) {
      row-gap: 20px;
      margin-bottom: 60px;
    }
  }

  // .hero__item

  &__item {
    display: flex;
    align-items: center;
    column-gap: 42px;
    padding: 34px 62px;

    border-radius: 30px;
    box-shadow: 0px 2px 2px 0px rgba(27, 49, 111, 0.15);
    border: 3px solid transparent;
    background: linear-gradient(#202E4F, #202E4F) padding-box,
      linear-gradient(152.14deg, rgba(134, 160, 213, 1) 9.96%, rgba(27, 49, 111, 1) 100%) border-box;
    background-color: var(--bg-color);
    backdrop-filter: blur(15px);

    @media (max-width: $breakpoint992) {
      padding: 20px 40px;
      column-gap: 24px;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 8px;
      padding: 12px 10px 24px;
      border-radius: 10px;
    }
  }

  // .hero__item-pic

  &__item-pic {
    width: 118px;
    height: 118px;
    border-radius: 100%;

    @media (max-width: $breakpoint992) {
      width: 60px;
      height: 60px;
    }

    @media (max-width: $breakpoint768) {
      width: 36px;
      height: 36px;
    }
  }

  // .hero__item-descr

  &__item-descr {
    max-width: 616px;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;

    @media (max-width: $breakpoint992) {
      font-size: 16px;
    }

    @media (max-width: $breakpoint768) {
      max-width: 100%;
      font-size: 11px;
    }
  }

  // .hero__footer

  &__footer {}

  // .hero__personals

  &__personals {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 60px;

    @media (max-width: $breakpoint768) {
      column-gap: 20px;
      row-gap: 24px;
    }
  }

  // .hero__personal

  &__personal {
    position: relative;
    display: grid;
    align-content: baseline;
    margin-bottom: auto;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);
      width: 90%;
      height: 90%;
      background: linear-gradient(90deg, rgba(27, 49, 111, 0.90) -11.56%, rgba(49, 98, 174, 0.90) 47.66%, rgba(134, 160, 213, 0.90) 108.13%);
      filter: blur(30px);
    }

    @media (max-width: $breakpoint768) {
      flex: 0 1 calc(49% - 20px);
      align-items: flex-start;
      height: 100%;
    }
  }

  // .hero__personal-pic

  &__personal-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 256px;
    min-width: 256px;
    width: 256px;
    max-height: 256px;
    min-height: 256px;
    height: 256px;
    margin-bottom: 20px;

    border-radius: 20px;
    box-shadow: 0px 2px 2px 0px rgba(27, 49, 111, 0.15);
    border: 2px solid transparent;
    background: linear-gradient(#202E4F, #202E4F) padding-box,
      linear-gradient(152.14deg, rgba(134, 160, 213, 1) 9.96%, rgba(27, 49, 111, 1) 100%) border-box;
    background-color: var(--bg-color);
    backdrop-filter: blur(15px);

    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: $breakpoint768) {
      max-width: 100%;
      min-width: 100%;
      width: 130px;
      max-height: 100%;
      min-height: 130px;
      height: 130px;
      margin-bottom: 4px;
    }
  }

  // .hero__personal-name

  &__personal-name {
    position: relative;
    z-index: 1;
    margin-bottom: 4px;
    font-size: 23px;
    font-weight: 700;
    line-height: normal;

    @media (max-width: $breakpoint992) {
      font-size: 18px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 4px;
      font-size: 14px;
    }
  }

  // .hero__personal-status

  &__personal-status {
    position: relative;
    z-index: 1;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;

    @media (max-width: $breakpoint992) {
      font-size: 14px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 11px;
    }
  }
}