.news {
  margin: 100px 0;

  @media (max-width: $breakpoint992) {
    margin: 60px 0;
  }

  @media (max-width: $breakpoint768) {
    margin: 30px 0;
  }

  // .news__inner

  &__inner {
    max-width: 920px;
    margin: 0 auto;
  }

  // .news__title

  &__title {
    margin-bottom: 40px;
    font-size: 37px;

    @media (max-width: $breakpoint992) {
      font-size: 30px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 12px;
      font-size: 17px;

      br {
        display: none;
      }
    }
  }

  // .news__img

  &__img {
    display: block;
    margin-bottom: 42px;
    max-width: 100%;
    width: 100%;
    height: 520px;
    object-fit: cover;

    @media (max-width: $breakpoint992) {
      height: 440px;
    }

    @media (max-width: $breakpoint768) {
      height: 280px;
      margin-bottom: 16px;
    }
  }

  // .news__text

  &__text {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;

    @media (max-width: $breakpoint992) {
      font-size: 16px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 11px;
      line-height: 120%;
    }
  }
}