.news-section {
  margin-bottom: 140px;

  @media (max-width: $breakpoint992) {
    margin-bottom: 80px;
  }

  // .news-section__inner

  &__inner {}

  // .news-section__container

  &__container {}

  // .news-section__top

  &__top {
    margin-bottom: 30px;

    @media (max-width: $breakpoint768) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 20px;
    }
  }

  // .news-section__title

  &__title {
    margin-bottom: 10px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 10px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 0;
    }
  }

  // .news-section__slider

  &__slider {
    padding: 6px;

    @media (max-width: $breakpoint992) {
      padding-bottom: 20px;
    }
  }

  // .news-section__slider-wrapper

  &__slider-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;

    @media (max-width: $breakpoint768) {
      row-gap: 0;
    }
  }

  // .news-section__slide

  &__slide {}

  // .news-section__slide-content

  &__slide-content {
    display: flex;
    align-items: flex-end;
    column-gap: 90px;

    @media (max-width: $breakpoint992) {
      column-gap: 32px;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 10px;
    }
  }

  // .news-section__slide-pic

  &__slide-pic {
    flex: 0 1 445px;
    width: 445px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 2px 2px 0px rgba(27, 49, 111, 0.15);
    border: 2px solid transparent;
    background: linear-gradient(#202E4F, #202E4F) padding-box,
      linear-gradient(152.14deg, rgba(134, 160, 213, 1) 9.96%, rgba(27, 49, 111, 1) 100%) border-box;
    background-color: var(--bg-color);
    backdrop-filter: blur(15px);
    overflow: hidden;

    transition: transform 0.2s linear;

    @media (hover: hover) {
      &:hover {
        transform: scale(1.01);
      }

    }

    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      object-fit: cover;
    }

    @media (max-width: $breakpoint992) {
      flex: 0 1 300px;
      width: 300px;
      height: 280px;
    }

    @media (max-width: $breakpoint768) {
      flex: 0 1 auto;
      width: 100%;
      height: auto;
      min-height: 160px;
      max-height: 240px;

      border-radius: 10px;
      border: 1.5px solid transparent;
      box-shadow: 0px 1.038px 2.594px 0px rgba(0, 0, 0, 0.10), 0px 4.669px 4.669px 0px rgba(0, 0, 0, 0.09), 0px 10.375px 6.225px 0px rgba(0, 0, 0, 0.05), 0px 18.156px 7.263px 0px rgba(0, 0, 0, 0.01), 0px 28.012px 7.781px 0px rgba(0, 0, 0, 0.00);
      backdrop-filter: blur(7.78125px);

      img {
        border-radius: 10px;
      }
    }

  }

  // .news-section__slide-info

  &__slide-info {
    flex: 0 1 540px;

    @media (max-width: $breakpoint992) {
      flex: 0 1 50%;
    }

    @media (max-width: $breakpoint768) {
      flex: 0 1 auto;
    }
  }

  // .news-section__slide-text

  &__slide-text {
    margin-bottom: 34px;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;

    @media (max-width: $breakpoint992) {
      margin-bottom: 20px;
      font-size: 20px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 12px;
      font-size: 15px;
    }
  }

  // .news-section__slide-footer

  &__slide-footer {}

  // .news-section__slide-link

  &__slide-link {
    width: fit-content;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 86px;
    border-radius: 22px;
    border: 2px solid #3162AE;
    background-color: var(--primary-color);

    /* тени */
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10), 0px 9px 9px 0px rgba(0, 0, 0, 0.09), 0px 20px 12px 0px rgba(0, 0, 0, 0.05), 0px 35px 14px 0px rgba(0, 0, 0, 0.01), 0px 54px 15px 0px rgba(0, 0, 0, 0.00);
    backdrop-filter: blur(15px);

    text-transform: uppercase;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    transition: color 0.2s linear, border 0.2s linear;

    @media (hover: hover) {
      &:hover {
        border-color: var(--primary-color);
        background-color: var(--white-color);
        color: var(--primary-color);
      }
    }

    @media (max-width: $breakpoint768) {
      width: 100%;
      padding: 6px;
      font-size: 10px;
    }
  }
}


.news-section-slider {

  // .news-section-slider__arrows

  &__arrows {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 16px;


    @media (max-width: $breakpoint768) {
      column-gap: 8px;
      margin-bottom: 0;
    }
  }

  // .news-section-slider__arrow

  &__arrow {
    transition: transform 0.2s linear;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        transform: scale(1.1);
      }

    }

    @media (max-width: $breakpoint768) {

      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  // .news-section-slider__arrow--prev

  &__arrow--prev {}

  // .news-section-slider__arrow--next

  &__arrow--next {}
}