// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1090;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98+px;
$breakpoint992: 991.98+px;
$breakpoint768: 767.98+px;
$breakpoint480: 479.98+px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: 'black';
$burgerActiveColor: 'white';

:root {
  //fonts
  --primary-font: "Lato", sans-serif;
  --secondary-font: "Druk Text Wide Cyr", sans-serif;

  //colors
  --primary-color: #0F1E46;
  --white-color: #ffffff;
  --bg-color: #202E4F;

}