.work {
  position: relative;
  margin-bottom: 140px;
  padding-top: 90px;


  @media (max-width: $breakpoint992) {
    margin-bottom: 80px;
  }

  @media (max-width: $breakpoint768) {
    margin-bottom: 30px;
    padding-top: 60px;
  }

  // .work__inner

  &__inner {
    position: relative;
    background-image: url('../img/work/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 400px;
      background-image: url('../img/work/top-decor.svg');
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
      user-select: none;
      pointer-events: none;
    }

    @media (max-width: $breakpoint992) {
      margin: 0 -20px;
      padding: 0 20px;
    }
  }

  // .work__title

  &__title {
    z-index: 1;
  }

  // .work__steps

  &__steps {
    z-index: 1;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    row-gap: 60px;
    padding: 0 80px;
    margin-bottom: 136px;

    @media (max-width: $breakpoint992) {
      grid-template-columns: 1fr;
      row-gap: 20px;
      padding: 0;
      margin-bottom: 40px;
    }
  }

  // .work__step

  &__step {
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: 142px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    padding: 10px 12px 12px 60px;
    border-radius: 50px;
    background-color: transparent;
    background-image: url('../img/work/step-border.svg');
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: $breakpoint992) {
      padding: 8px 8px 8px 40px;
      background-image: none;
      border-radius: 72.308px;
      border: 1.5px solid #fff;
      box-shadow: 0px 1.446px 3.615px 0px rgba(0, 0, 0, 0.10), 0px 6.508px 6.508px 0px rgba(0, 0, 0, 0.09), 0px 14.462px 8.677px 0px rgba(0, 0, 0, 0.05), 0px 25.308px 10.123px 0px rgba(0, 0, 0, 0.01), 0px 39.046px 10.846px 0px rgba(0, 0, 0, 0.00);
      // backdrop-filter: blur(10.846156120300293px);
    }

    @media (max-width: $breakpoint768) {
      min-height: 66px;
    }
  }

  &__step--reverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-right: auto;
    padding: 12px 60px 12px 14px;

    @media (max-width: $breakpoint992) {
      flex-direction: row;
      justify-content: space-between;
      padding: 8px 8px 8px 40px;
    }
  }

  &__step-line {
    width: 100%;
    margin-bottom: -20px;
    min-width: 120px;

    picture {
      display: block;
      width: 100%;
    }

    img {
      max-width: 100%;
      width: 100%;
    }

    @media (max-width: $breakpoint992) {
      margin: -20px auto;
      height: 40px;
      min-width: 0;

      picture {
        display: block;
        text-align: center;
        height: 100%;
      }

      img {
        width: auto;
        margin: 0 auto;
        height: 100%;
      }
    }
  }

  &__step-line--mobile {
    display: none;

    @media (max-width: $breakpoint992) {
      display: block;

    }
  }

  // .work__step-text

  &__step-text {
    font-size: 19px;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;

    @media (max-width: $breakpoint768) {
      font-size: 12px;
    }
  }

  // .work__step-num

  &__step-num {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 118px;
    min-width: 118px;
    height: 118px;
    border-radius: 100%;
    box-shadow: 0px 2px 2px 0px rgba(27, 49, 111, 0.15);
    border: 3px solid transparent;
    background: linear-gradient(#202E4F, #202E4F) padding-box,
      linear-gradient(152.14deg, rgba(134, 160, 213, 1) 9.96%, rgba(27, 49, 111, 1) 100%) border-box;
    background-color: var(--bg-color);
    backdrop-filter: blur(15px);
    // overflow: hidden;

    span {
      text-align: center;

      font-family: var(--secondary-font);
      font-size: 80px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: normal;
      color: var(--primary-color);
      -webkit-text-stroke: 2px 848484;
      text-shadow:
        1px 1px 0 #848484,
        -1px -1px 0 #848484,
        1px -1px 0 #848484,
        -1px 1px 0 #848484,
        1px 1px 0 #848484;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 140px;
      height: 140px;
      background-color: #3162AE;
      filter: blur(50px);
      z-index: -1;
      user-select: none;
      pointer-events: none;
    }

    @media (max-width: $breakpoint992) {
      width: 80px;
      height: 80px;
      min-width: 80px;

      &::before {
        width: 60px;
        height: 60px;
      }

      span {
        font-size: 54px;
      }
    }
  }

  // .work__callback

  &__callback {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 90px;
    background-image: url('../img/work/callback-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: $breakpoint992) {
      padding: 40px;
      margin: 0 -20px;
    }

    @media (max-width: $breakpoint768) {
      padding: 20px 20px 40px 20px;

    }
  }

  // .work__callback-info

  &__callback-info {
    flex: 0 1 50%;

    @media (max-width: $breakpoint768) {
      flex: 0 1 auto;
      max-width: 200px;
    }
  }

  // .work__callback-title

  &__callback-title {
    margin-left: 0;
    margin-bottom: 28px;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.10), 0px 9px 9px rgba(0, 0, 0, 0.09), 0px 20px 12px rgba(0, 0, 0, 0.05), 0px 35px 14px rgba(0, 0, 0, 0.01), 0px 54px 15px rgba(0, 0, 0, 0.00);

    @media (max-width: $breakpoint992) {
      margin-bottom: 20px;
      margin-left: 0;
      font-size: 16px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 12px;
      font-size: 12px;
    }
  }

  // .work__callback-btn

  &__callback-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 16px 22px;
    border-radius: 29.754px;
    border: 3px solid #3162AE;
    background: var(--white-color);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10), 0px 9px 9px 0px rgba(0, 0, 0, 0.09), 0px 20px 12px 0px rgba(0, 0, 0, 0.05), 0px 35px 14px 0px rgba(0, 0, 0, 0.01), 0px 54px 15px 0px rgba(0, 0, 0, 0.00);
    backdrop-filter: blur(15px);
    transition: color 0.2s linear, border 0.2s linear, background-color 0.1s linear;
    color: #1B316F;
    font-size: 16px;
    font-weight: 800;
    line-height: 100%;
    text-transform: uppercase;

    @media (hover: hover) {
      &:hover {
        border-color: var(--white-color);
        background-color: var(--primary-color);
        color: var(--white-color);
      }
    }

    @media (max-width: $breakpoint768) {
      padding: 6px 8px;
      font-size: 7px;
    }
  }

  // .work__callback-pic

  &__callback-pic {
    position: absolute;
    right: 0;
    bottom: 0;

    @media (max-width: $breakpoint992) {
      max-width: 370px;
      width: 100%;

      img {
        max-width: 100%;
        width: 100%;
      }
    }

    @media (max-width: $breakpoint768) {
      max-width: 170px;
    }
  }
}